    <!-- Page footer content -->
    <div class="container-fluid">
        <div class="container" style="background:none;">    
            <footer class="footer">
            <div class="row"> 
                    <img src="https://lotusocean-culture-repo.herokuapp.com/Lotus-logo-clear.png" alt="莲池海会-中华文化传统资料库"/>
            </div>  
                <div class="row">
                <p><a href="/about" class="href">关于莲池海会</a> | <a href="mailto:Ryan.yizhao@gmail.com">联系我们</a></p>
                <p>2017 All Rights Reserved By LOTUSOCEAN.ORG</p>
            </div>
            </footer>
        </div>
    </div>
    
    
    <!-- load scritps -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- link to JQuery and bootstrap js -->
    <script src="/scripts/libs/jquery/dist/jquery.js"></script>
    <script src="/scripts/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--datetimepicker js-->
    <script src="/scripts/libs/moment/min/moment.min.js"></script>
    <script src="/scripts/libs/bootstrap/js/transition.js"></script>
    <script src="/scripts/libs/bootstrap/js/collapse.js"></script>
    <script src="/scripts/libs/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/scripts/libs/googleAnalytics.js"></script>
    <script src="/scripts/libs/customjs.js"></script>
    </body>
</html>

