<div class="container">
<div class="row navbar-row">
  <img src="https://firebasestorage.googleapis.com/v0/b/lotusocean-3a27a.appspot.com/o/lotusocean.org%2Fbanner.png?alt=media&token=80c4f43f-b340-415e-a986-d2347de6d1f4" alt="莲池海会-中华文化传统资料库" class="img-responsive" height="160px" width="">
</div>
</div>
<!-- navigation bar container -->
<nav class="navbar navbar-default" id="fix-header">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="logo-margin-left"><img src="https://chinese-traditional-culture-rp.herokuapp.com/lotus-logo.png" alt="中华文化传统资料库"><span class="sr-only">中华文化传统资料库</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navText" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <% if (title == "儒家学说") { %>
        <li class="actived"><a href="/itemlist/ru"> 儒 </a></li>
      <% } else { %>
        <li><a  href="/itemlist/ru"> 儒 </a></li>
      <% } %>
      <% if(title == "释家佛法") { %>
        <li class="actived"><a class="font-Droid" href="/itemlist/shi"> 释</a></li>
      <% } else { %>
        <li><a class="font-Droid" href="/itemlist/shi"> 释</a></li>
      <% } %>
      <% if(title == "道家思想") { %>
        <li class="actived"><a class="font-Droid" href="/itemlist/dao"> 道</a></li>
      <% } else { %>
        <li><a class="font-Droid" href="/itemlist/dao"> 道</a></li>
      <% } %>
      <% if(title == "净空法师经教") { %>
        <li class="actived"><a class="font-Droid" href="/itemlist/jingkong"> 净空法师</a></li>
      <% } else { %>
        <li><a class="font-Droid" href="/itemlist/jingkong"> 净空法师</a></li>
      <% } %>
      <% if(title == "南懷瑾法語") { %>
        <li class="actived"><a class="font-Droid" href="/itemlist/cantonese"> 南怀瑾</a></li>
      <% } else { %>
        <li><a class="font-Droid" href="/itemlist/nan"> 南怀瑾</a></li>
      <% } %>
      <% if(title == "粤语专区") { %>
        <li class="actived"><a class="font-Droid" href="/itemlist/cantonese"> 粤语专区</a></li>
      <% } else { %>
        <li><a class="font-Droid" href="/itemlist/cantonese"> 粤语专区</a></li>
      <% } %>

        <% if(typeof displayName == 'string' && displayName) { %>
        <% if(title == "Dashboard") { %>
          <li  class="actived"><a class="font-Droid" href="/dashboard"><i class="fa fa-address-book-o" aria-hidden="true"></i> DashBoard</a></li>
        <% } else { %>
          <li><a class="font-Droid" href="/dashboard"><i class="fa fa-address-book-o" aria-hidden="true"></i> DashBoard</a></li>
        <% } %>
      <% } %>      
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
      </form>
       <ul class="nav navbar-nav navbar-right">
          <% if(displayName) { %>
            <li class="navbar-text"><i class="fa fa-user"></i> Welcome, <%= displayName %></li>
            <li><a href="/users/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
          <% } %>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="fix-header-gap" style="clear:both"></div>
<!-- end navigation bar container -->
