/* custom style */

body {
  padding: 0px;
  font-family: 微软雅黑,'Open Sans',BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.42857143;
}

.navText{
  font-family: Helvetica, 微软雅黑;
}

a {
  color: #00B7FF;
  font-size:16px;
  font-weight: bold;  
  font-family: Helvetica, 微软雅黑;
}


/* footer style */
.footer
{
  font-family: Helvetica, 微软雅黑,'Roboto', sans-serif;
  margin-top: 36px;
  font-size: 14px;
  font-style: italic;
  color: #2a9fd6;
  width: 100%;
  height: 20px;
  line-height: 18px;
}


/* Google Font */

.font_kaushan
{
  font-family: 'Kaushan Script', cursive;
}

.font_pacifico
{
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  margin-top: -4px;
}

.font_monda
{
  font-family: 'Monda', sans-serif;
  font-size: 20px;
  font-style: italic;
}

.font-Ubuntu
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.font-Droid
{
  font-size: 16px;
}

.font_opensans
{
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
}

.Jumbotron_background
{
  background: #222222;
}

.pro_background
{
  background: #222222;
}

.row
{
  margin-left: 0px;
  margin-right: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #2a9fd6;
    border: 1px solid #282828;
    font-size: 18px;

}

.listImageLink {
    float: left;
    width: 300px;
    height: auto;
}

.listPanelPadding
{
  padding:20px;
}

.boxshadow {
    border-radius: 5px;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

.divTopGap {
  margin-top: 36px;
}

.navBottomGapFixer{
  margin-bottom: 48px;
  clear: both;
}

.topGap {
  margin-top: 16px;
}

.resource-topic {
    font-size: 16px;
    font-weight: bold;
}

.resource-info {
    font-size: 12px;
    font-weight: lighter;
}

.resource-intro{
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
}

.treasureList-title{
    font-size: 16px;
    font-weight: bold;
}
.treasureList-intro-hide{
    height: 6em; 
    line-height: 18px;
    overflow: auto;
    margin: 16px 0px;
    font-size: 14px;
    font-weight: lighter;
}