/* custom style */

body {
  padding: 0px;
  font-family: 微软雅黑,'Open Sans',BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.42857143;
  background:#F8F4DA;
  color: #666666;  
}

a:link {
  color: #C18639;
}

/* visited link */
a:visited {
  color: #C18639;
}

/* mouse over link */
a:hover {
  color: #C18639;
}


/* selected link */
a:active {
  color: #C18639;
}

h2 {
  color:#C18639;
}
.navText{
  font-family: Helvetica, 微软雅黑;
  color: #FFCA27;
}


a {
  color: #FFCA27;
  font-size:16px;
  font-weight: bold;  
  font-family: Helvetica, 微软雅黑;
}

.container {
  background-color: #F8F4DA;
  padding : 0px;
}

.navbar-default .navbar-nav li a {
  color: #fff;
}

.navbar-default .navbar-nav li a:hover {
  color: #fff;
  background:#762A1D; 
}


/* footer style */
.footer
{
  font-family: Helvetica, 微软雅黑,'Roboto', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #666666;
  width: 100%;
  line-height: 28px;
  background-color: #F4EFCA;
  line-height: 16px;
  display: block;
  clear: both;
}

.footer a {
  color: #666666;
  
}


/* Google Font */

.font_kaushan
{
  font-family: 'Kaushan Script', cursive;
}

.font_pacifico
{
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  margin-top: -4px;
}

.font_monda
{
  font-family: 'Monda', sans-serif;
  font-size: 20px;
  font-style: italic;
}

.font-Ubuntu
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.font-Droid
{
  font-size: 16px;
}

.font_opensans
{
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
}

.Jumbotron_background
{
  background: #222222;
}

.pro_background
{
  background: #222222;
}

.row
{
  margin-left: 0px;
  margin-right: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #2a9fd6;
    border: 1px solid #282828;
    font-size: 18px;

}

.listImageLink {
    float: left;
    width: 300px;
    height: auto;
}

.listPanelPadding
{
  padding:20px;
}

.boxshadow {
    border-radius: 5px;
    background: #FFF;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.2);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    padding: 10px;
}

.divTopGap {
  margin-top: 36px;
}

.navBottomGapFixer{
  margin-bottom: 48px;
  clear: both;
}

.topGap {
  margin-top: 16px;
}

.resource-topic {
    margin-top: 4px;
    font-size: 16px;
    font-weight: bold;
}

.resource-info {
    font-size: 12px;
    font-weight: lighter;
}

.resource-intro{
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
}

.treasureList-title{
    font-size: 16px;
    font-weight: bold;
}
.treasureList-intro-hide{
    height: 6em; 
    line-height: 18px;
    overflow: auto;
    margin: 16px 0px;
    font-size: 14px;
    font-weight: lighter;
}

.treasure-item-tag-content {
  padding: 18px;
  /* border: 1px solid #DDD; */
  border-radius: 5px;
  background: #FFF;
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.2);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
  padding: 10px;
  margin-bottom: 16px;
}

.treasure-info-div {
  margin-top: 18px;
  padding: 18px;
  line-height: 24px;
  font-weight: lighter;
}

.row .treasure-item-right-tab a{
  padding: 2px 8px;
  font-size: 14px;
  font-weight: lighter;
}

.treasure-list-info-div {
  margin-top: 8px;
  line-height: 24px;
  height: 48px;
  font-weight: lighter;
  overflow: hidden;
}

.bottomGap {
  margin-bottom: 8px;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}
.navbar-row {
    display: block;
    font-weight: 700;
    color: #9F8702;
    text-align: center;
    background-color: #F8F4DA;
    clear: both;
}
.navbar-default{
  border-width: none;
  background-color: #C18639;
    /*background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);*/
  background-image: none;
}
.navbar-default .container{
  background-color: #C18639;
}

/*Index page panel-heading*/
.panel-heading {
    color: #FFF;
    background-color: #A3D1A5;
    border-color: #FFE140;
}

.panel {
  background-color:transparent;
  border: none;
  /*border-color: #FFE140;*/
  /* padding-bottom: 16px; */
}


ul.nav li.actived {
  background-color: #762A1D;
  color:#fff;
}

ul.nav li.actived a{
  background-color: #762A1D;
  color:#fff;
}

.navbar-default .navbar-nav li.actived a:hover{
  background-color: #762A1D;
  color:#fff;
}

a.btn-playVideo, a.btn-playVideo:hover{
    color: #FFF;
    background-color: #CFB00D;
    border-color: #BDA41F;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

.logo-margin-left {
  margin-left: 16px;
  margin-right: 8px;
}

a.btn:link,a.btn:visited {
  color: #FFF;
}

.img-shadow{
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.46), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.container-fluid{
  background-color: #F4EFCA;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 28px;
}

.container-fluid .container{
  background-color: transparent;
}