<!--about.ejs-->
<% include partials/header.ejs %>
<% include partials/navigationBar.ejs %> 

<!-- Body Container -->
<div class="container">
    <div class="row">
        <div class="col-md-7">
        <h2><%= title %></h2>            
        <p>莲池海会-中华传统文化资料库致力于传播中华传统儒释道文化为宗旨的网站。</p>
        <p>本网是公益性网站，本着真诚爱心，其宗旨是弘扬以儒释道为核心的中华文化，<br>净化社会人心，祈望世界和平。</p>
        <p>本网站所有资源均来源于网络，若有涉及版权问题请与我们联系。非常感謝。 </p>
        <p><a href="mailto:Ryan.yizhao@gmail.com">联系我们</a></p>
        </div>
        <!-- my image-->
        <div class="col-md-1 col-md-offet-1"></div> 
        <div class="col-md-4">
        </div>
        <!--End my image-->
    </div>
</div>
<!-- Body Container End-->
<% include partials/footer.ejs %>