<!--contact.ejs-->
<% include partials/header.ejs %>
<% include partials/navigationBar.ejs %> 

<!-- Body Container -->
<div class="container">
    <h2><%= title %></h2>
    <div class="row">
        <!--Left  -->
     <div class="col-md-8">
        <button class="btn btn-primary">Add Resource</button>
     </div>
     <!--End Left -->                     
        <!--Right  -->           
        <div class="col-md-4">

        </div>
        <!--End Right -->           
    </div>
</div>
<% include partials/footer.ejs %>