<!-- index.ejs -->
<% include partials/header.ejs %>
<% include partials/navigationBar.ejs %> 
    
    <!-- Carousel
    ================================================== -->
  <div class="container">
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

  
      <div class="item active">
      <img src="asset/images/itssurvey_big.png" alt="It's Survey">   
    </div>

    <div class="item">
      <img src="asset/images/oseatao_big.png" alt="Food Order">   
    </div>

    <div class="item">
      <img src="asset/images/Password_big.png" alt="Password Manager">
      
    </div>

    <div class="item">
      <img src="asset/images/foodOrder_big.png" alt="Food Order">   
    </div>


  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <!-- Carousel Container End-->
    <!-- list content -->
     <div class="row divTopGap">  
       <!--Left materials list-->           
        <div class="col-md-8">
            <!--儒家 panel-->
            <div class="panel panel-primary">
                <div class="panel-heading">儒家</div>
                <div class="panel-Body listPanelPadding">
                    <ul class="media-list">
                        <li class="media boxshadow">
                            <div class="media-left listImageLink">
                            <a href="#">
                                <img class="img-responsive img-rounded"  src="https://i2.wp.com/beebom.com/wp-content/uploads/2016/01/Reverse-Image-Search-Engines-Apps-And-Its-Uses-2016.jpg?w=640&ssl=1" class="img-responsive" alt="...">
                            </a>
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            <p><a href="#">This a link</a></p>
                            </div>
                        </li>
                        <li class="media boxshadow">
                            <div class="media-left listImageLink">
                            <a href="#">
                                <img class="img-responsive img-rounded"  src="http://www.hwazan.org/uploadfile/2016/0719/20160719111423465.jpg" class="img-responsive" alt="...">
                            </a>
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            <p><a href="#">This a link</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--释家 panel-->
            <div class="panel panel-success">
                <div class="panel-heading">释家</div>
                <div class="panel-Body">...</div>
            </div>
            <!--道家 panel-->            
            <div class="panel panel-info">
                <div class="panel-heading">道家</div>
                <div class="panel-Body">...</div>
            </div>
            <!--净空法师专区 panel-->
            <div class="panel panel-warning">
                <div class="panel-heading">净空法师专区</div>
                <div class="panel-Body">...</div>
            </div>
            <!-- panel-->            
            <div class="panel panel-danger">
                <div class="panel-heading">专区</div>
                <div class="panel-Body">...</div>
            </div>
        </div>
        <!--End Left materials list--> 
      <!--Right materials list-->           
      <div class="col-md-4">
          <!--Thumbnail List-->
          <div class="thumbnail boxshadow">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UHgOUOxq3-Y?ecver=1" allowfullscreen></iframe>
            </div>
            <div class="caption">
              <h3>Thumbnail caption</h3>
              <p>...</p>
            </div>
            </div>
            
            <!---->
                <div class="thumbnail boxshadow">
                <div align="center" class="embed-responsive embed-responsive-16by9">
                <embed src='http://mp4.jingzong.org:888/mp4/02/02-041/02-041-0351.mp4' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
                </div>
                 <div class="caption">
                    <h3>Thumbnail caption</h3>
                    <p>...</p>
                    </div>
                </div>

        

                <!---->
                <div class="thumbnail boxshadow">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls loop class="embed-responsive-item" >
                        <source src="http://mp4.jingzong.org:888/mp4/02/02-041/02-041-0351.mp4">
                    </video>                
                </div>
                <div class="caption">
                    <h3>Thumbnail caption</h3>
                    <p>...</p>
                    </div>
                </div>
              
          <!--End Thumbnail List-->
      </div>
      <!--End Right materials list-->           
             
    </div>
    <!--End list content-->
  </div>
    

   

<% include partials/footer.ejs %>
